/* Title Section */
body {
  font-size: 1.5rem;
  font-family: "Ubuntu";
}

#title {
  background: url("../img/title-tools.png") no-repeat;
  background-size: cover;
  height: 1200px;
}

.title-container {
  background-color: #FFD32D;
  opacity: 0.8;
  text-align: center;
  position: relative;
  top: 15%;
  width: 80%;
  border-radius: 20px;
  padding: 8%;
}

.title-heading {
  color: #000000;
  font-size: 6rem;
  letter-spacing: 1.5rem;
}

.title-subhead {
  color: #000000;
  letter-spacing: 0.5rem;
  margin: 3% 0 5%;
  font-weight: 300;
  font-size: 2.5rem;
}

.title-btn {
  font-size: 2rem;
  margin-bottom: 5%;
  margin: 25% 50px 5% 50px;
}

.btn-container {}

/* About Me */
.about-row {
  margin: 0;
  padding: 0;
  height: 1500px;
}

.about-container {
  background-color: #000000;
  padding: 5%;
}

.about-heading {
  color: #FFD32D;
  font-size: 5rem;
  margin-bottom: 10%;
  text-align: center;
}

.about-text {
  color: #F7F7F7;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

.about-img {
  background: url("../img/about-img.png") no-repeat;
  background-size: cover;
  padding: 0;
}

.tool-icon {
  color: #FFD32D;
  margin: 5% 45% 0;
  font-size: 7rem;
  opacity: 0.8;
}

/* Services */
#services {
  background-color: #FFD32D;
  text-align: center;
}

.services-title {
  font-size: 5rem;
  padding: 5% 5% 0;
}

.services-subhead {
  font-weight: 400;
  margin-bottom: 3%;
}

.services-btn-container {
  padding-bottom: 5%;
}

.services-btn {
  font-size: 3rem;
  width: 300px;
  height: 300px;
  margin: 10% 0;
  border-radius: 20px;
}

/* Promises */
#promises {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.promises-title {
  font-size: 5rem;
  color: #FFD32D;
  padding: 5% 5% 0;
}

.promises-subhead {
  font-weight: 400;
  margin-bottom: 1%;
  color: #F7F7F7;
}

.promises-container {
  padding: 5% 2% 8%;
}

.promises-icon {
  font-size: 7rem;
  color: #FFD32D;
}

.promises-text {
  font-size: 1.5rem;
  padding-top: 10%;
  color: #F7F7F7;
}

/* Testimonies */
#testimonies {
  text-align: center;
  background-color: #FFD32D;
}

.testimonies-title {
  font-size: 5rem;
  padding: 5% 5% 0;
}

.testimonies-subhead {
  font-weight: 400;
  margin-bottom: 3%;
}

.testimonies-container {
  padding: 5% 0 10%;
}

.testimonies-text {
  padding-bottom: 3%;
}

.testimonies-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.testimonies-name {
  font-size: 1.2rem;
}

/* Contact */
#contact-me {
  color: #FFD32D;
}

.contact-row {
  margin: 0;
  padding: 0;
  height: 1200px;
}

.contact-img {
  background: url(../img/contact-tools.png) no-repeat;
  background-size: cover;
  padding: 0;
}

.contact-container {
  background-color: #000000;
  padding: 5%;
}

.contact-title {
  font-size: 5rem;
  padding-bottom: 15%;
}

.contact-icon {
  font-size: 5rem;
  position: absolute;
  margin-top: 4%;
}

.contact-text {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 10% 0;
  color: #ffffff;
}

.contact-subhead {
  font-size: 3rem;
  position: relative;
  top: 15%;
}

/* Footer */
#footer {
  color: #a9a9a9;
  background-color: #000000;
}

.footer-text {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 2%;
}

.footer-container {
  height: 100px;
}
