/* Title Section */
body {
  font-size: 1.5rem;
  font-family: "Ubuntu";
}

#title {
 background: url("../img/title-tools.png") no-repeat;
 background-size: cover;
 height: 1500px;
}

.title-container {
  background-color: #FFD32D;
  opacity: 0.8;
  text-align: center;
  position: relative;
  top: 25%;
  width: 90%;
  border-radius: 20px;
  padding: 8%;
}

.title-heading {
  color: #000000;
  font-size: 8rem;
  letter-spacing: 1.5rem;
}

.title-subhead {
  color: #000000;
  letter-spacing: 0.5rem;
  margin: 3% 0 5%;
  font-weight: 300;
  font-size: 2.5rem;
}

.title-btn {
  font-size: 2rem;
  margin-bottom: 5%;
  margin: 25% 50px 5% 50px;
}

.btn-container {
}

/* About Me */

.about-row {
  margin: 0;
  padding: 0;
  height: 1500px;
}

.about-container {
  background-color: #000000;
  padding: 5%;

}

.about-heading {
  color: #FFD32D;
  font-size: 6rem;
  margin-bottom: 10%;
  text-align: center;
}

.about-text {
  color: #F7F7F7;
  font-size: 2.5rem;
  text-align: center;
}

.about-img {
  background: url("../img/about-img.png") no-repeat;
  background-size: cover;
  padding: 0;
}

.tool-icon {
  color: #FFD32D;
  margin: 5% 45% 0;
  font-size: 6rem;
  opacity: 0.8;
}
